@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Alike Angular", serif;
  --font-sans: var(--font-primary);
}

@layer base {
  body {
    @apply font-primary antialiased bg-[#fcf7ef] text-[#4b4b4b];
    margin: 0;
    min-height: 100vh;
  }
}

@layer utilities {
  @keyframes accordion-down {
    from {
      height: 0;
      opacity: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
      opacity: 1;
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
      opacity: 1;
    }
    to {
      height: 0;
      opacity: 0;
    }
  }

  .animate-accordion-down {
    animation: accordion-down 0.2s ease-out;
  }

  .animate-accordion-up {
    animation: accordion-up 0.2s ease-out;
  }
}

@theme inline {
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  @keyframes accordion-down {
  from {
    height: 0;
    }
  to {
    height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
    }
  to {
    height: 0;
    }
  }
}